<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header">
      Starbucks
    </ion-title>
    <img class="img_header" src="http://assets.stickpng.com/images/58428cc1a6515b1e0ad75ab1.png" width="100">
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" >
 
  <div id="container">
    
    <strong>Aprende sobre nuestra empresa y todo lo que contiene</strong>
    
    <ion-button  expand="block" fill="outline"class="botones-op" routerLink="/quienes-somos">Quienes somos</ion-button>
    <ion-button  expand="block" fill="outline"class="botones-op"routerLink="/catalogo">Catalogo</ion-button>
    <ion-button expand="block" fill="outline" class="botones-op"routerLink="/sucursal">Sucursal</ion-button>
  </div>

</ion-content>
<ion-footer class="footer"> 
  <ion-toolbar >
    <ion-icon name="color-filter-outline"></ion-icon>
    <h3>Para mas informacion busca en www.ups.edu.ec</h3>
  </ion-toolbar>
</ion-footer>


